@import url('./bootstrap.min.css');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #212529;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  min-height: 100vh;
}

.App-header {
  padding: 20px;
  text-align: center;
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.App-footer {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  color: #212529;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-control {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.btn-primary {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-margin {
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
}